.books-content{
    margin: 25px;
}

p{
    text-align: center;
}

.div-input{
    max-width: 35px!important;
}

.btn-search{
    background: url(/images/search.png);
    color: black;
}
.btn-edit{
    background: url(/images/edit.png);
}

.btn-remove{
    background: url(/images/delete.png);
}

.btn-action{
    background-size:100% 100%;
    border:none; 
    background-repeat:no-repeat;
    border: 0;
    margin-top:7px;
    display: block;
    height: 25px;
    width: 25px;

}